@layout('layout.app')

@section('content')

<div class="container pb-5">

    <div class="row bg-white mt-5 pt-5 pb-5 p-3 shadowme">
        <div class="col-md-12 text-primary text-justify text-center pt-4 pb-4">
            <div class="display-1">Login</div>
            <br>
            
            <h3><input type="button" value="Login" class="btn btn-outline-primary btn-lg" onclick="window.location='/google' "> </h3>
            <br>
        </div>
    </div>
</div>
@endsection