@layout('layout.app')

@section('content')

<div class="container pb-5">

    <div class="row bg-white mt-5 pt-5 pb-5 p-3 shadowme">
        <div class="col-md-12 text-primary text-justify text-center pt-4 pb-4">
            <div class="display-1">Error : 404</div>
            <br>
            <h3>No data Found </h3>
            <br>
        </div>
    </div>
</div>
@endsection